HELP.md
target/
#!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### project .gitignore ###
# jd es 测试文件
upload/*
rebel.xml
generatorConfigLinux.xml

# mac
.DS_Store
mvnw
mvnw.cmd
sql

export/
batch.txt
/image
*.log
.gradle/
logs/
.mvn
errorfile/